body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 

}
li{
    list-style: none;
    color: rgb(22, 138, 247);
}
section{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../images/html-css-collage-concept.jpg);
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.container {
    width: 40%;
    text-align: center;
    backdrop-filter: blur(20px);
    border-radius: 40px;
    border: 1px solid white;
    padding: 50px 20px;
    box-shadow: 3px #ccc;
}

form {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"] {
    padding: 8px;
    margin-right: 10px;
}

button {
    padding: 8px 20px;
    background-color: rgb(22, 138, 247);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(22, 138, 247);
}

#gradeDisplay {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: left;
}
 /* Styles for tablets */
 @media only screen and (max-width: 768px) {
    .container {
        width: 60%;
        text-align: center;
        backdrop-filter: blur(20px);
        border-radius: 40px;
        border: 1px solid white;
        padding: 50px 20px;
        box-shadow: 3px #ccc;
    }
    input[type="text"] {
        padding: 8px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
  }
  
  /* Styles for phones */
  @media only screen and (max-width: 480px) {
    .container {
        width: 80%;
        text-align: center;
        backdrop-filter: blur(20px);
        border-radius: 40px;
        border: 1px solid white;
        padding: 50px 20px;
        box-shadow: 3px #ccc;
    }
    input[type="text"] {
        padding: 8px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
  }